						<div id = "landTab1Content" class = "landTab landShowContent">
							<h2><%= @kw_group.titleize %> Overview</h2>
							<p>Dual diagnosis means that in addition to an alcohol or drug addiction a guest also suffers from a mental disorder like depression, anxiety, or personality disorders. In most situations, the mental disorder is the cause of the addiction so treating the addiction alone can be futile. Dual diagnosis treats the co-occurring issues simultaneously.</p> 
							<p>Dual diagnosis treatment can be complex. Even though the mental illness was present before the addiction in most dual diagnosis clients it is not advisable to treat the mental illness separately from the addiction. Individual problems are now driven by both so treatment must be coordinated and customized to the guest.</p>
							<p>Beachside's advanced rehab program understands dual diagnosis treatment is not straight forward and provides guests the tools and environment to effectively treat both your mental illness and addiction simultaneously.</p>

							<% Cms::File.for_category('landing page gallery').each do |pic| %>
								<div class = 'landGallery'>
									<p><%= link_to image_tag(pic.file.url(:cms_thumb)), pic.file.url, class: 'gallery', title: pic.description %>	</br><%= pic.label %></p>
								</div>
			        <% end %>
			        <script>
			            jQuery('.gallery').colorbox({rel:'gallery', transition:"none", width:"<%= @gallery_width %>", height:"<%= @gallery_width %>"});
			        </script>	
						</div>	
						<div id = "landTab2Content" class = "landTab">
							<h2><%= @kw_group.titleize %> Program</h2>
							<p>Personalized, dual diagnosis, treatment plans are created for each guest. Dual diagnosis treatment plans include a unique combination of detox, medication, physical rehab, mental health counseling, personal therapy, and group therapy. Each plan is designed to address a guest's addiction and mental illness simultaneously and effectively. </p>
							<p>Often clients who struggle with an addiction and a mental disorder arrive overwhelmed by such a dual diagnosis. They often times feel getting clean is less important or too difficult. We understand this feeling but also know how important it is to address both issues as quickly as possible. Managing a second diagnosis is integral to treating addiction successfully as in many cases it may be the original cause of addiction. We specialize in dual diagnosis treatments. 
							</p>
							<p>Our personalized counseling programs combined with nutrition and fitness programs help addicts address the root causes of addiction. Our licensed staff help you build the mechanisms and tools for a sustained, functional, and healthy rehabilitation.</p>
							<p>We accept insurance. Give us a call at <%= cms_snippet_content(:phone_ads)%> and we can quickly determine your coverage.</p>
						</div>	