<% # title and description for seo %>
<% content_for :seotags do %>
  <title><%= @kw_group.titleize %> Programs | Beachside Rehab</title>
  <meta name="description" content= "<%="Beachside Rehab is a family-run, world-class center on a Florida beach offering #{@kw_group} treatment programs." %>">
<% end %>


	<section>
		<div class = "landContentBox"></div>
		<div class = "landContent">
			<div>
				<div class = "landAction landMobile">
					<div class = "landActionPhrase"><%= "Talk with a trained counselor".titleize %></div>	
					<div class = "landActionNum"><%= cms_snippet_content(:phone_ads)%></div>
					<div class = "landActionHour">24 hours a day</div>
				</div>		
				<div class = "landIntro">
					<div class = "landHead landRight">
						<div class = "rehab">Personalized Care</div>
						<div>and Treatment</div>
					</div>
					<div class = "landHead landLeft landNormalDevice">
		 				<h1 class = "rehab"><%= @kw_group.titleize %></h1>
		 				<div>Program</div>
					</div>
					<div class = "landLogo">
						<%= link_to(image_tag("http://s3.amazonaws.com/beachdata/cms/files/files/000/000/038/original/blank-logo.png"), '/') %> 
					</div>
				</div>		
				<div class = "clearboth"></div>
				<div>
					<%= render 'sliderImages' %>
				</div>		
				<div class = "landDesc">
					<div >
						<ul id="landNav">
							<li><a href="javascript:MenuTab(1);" id="landTab1" class="landSelected"><%= @kw_group.titleize %></a></li>
							<li><a href="javascript:MenuTab(2);" id="landTab2">Program</a></li>
							<li><a href="javascript:MenuTab(4);" id="landTab4" >Reviews</a></li>
							<li><a href="javascript:MenuTab(5);" id="landTab5">About</a></li>
						</ul>
					</div>				
					<div class = "clearboth"></div>
					<div id="landDescContent">

						<%= render "#{@kw_group.gsub(' ','_')}_content" %>
					
						<div id = "landTab4Content" class = "landTab">
							<h2>Testimonials</h2>
							<div>Beachside Rehab was a life changing experience for me. I was so lost in life and my whole family had given up on me. Treatment was my last hope. I am so thankful I found Beachside. The therapy offices felt so comfortable and helped me calm down because I was so nervous. The beach houses were so comfortable I didn’t want to leave! I really enjoyed all the activities, especially the beach barbecues. My time at Beachside really helped me to find peace and open up about my issues. I really want to thank the entire staff for everything they did to help me be a better person!!!</div><div class = "landReviewer">Karen W. -- Feb 2014</div>
							<div class = "clearboth"></div>
							<div>Beachside was awesome. I was such a mess when I first got there but the staff helped me to understand why my life was falling apart. They made the whole process enjoyable. I liked how the houses were actually on the beach. I love the new sober life I live now and am rebuilding the trust with all of my family members. Beachside really helped turn my life towards a better path. Thanks everyone at Beachside!</div><div class = "landReviewer">Ryan T. -- Feb 2014</div>
							<div class = "clearboth"></div>
	
							<div>I loved Beachside! The staff, the facilities, and the program was amazing. So thankful I found this place! I highly recommend this treatment center!</div><div class = "landReviewer">Samantha R. -- Feb 2014</div>
						</div>				
						<div id = "landTab5Content" class = "landTab">
							<h2>Beachside</h2>
							<p>Beachside Rehab is a private, family-run, boutiue treatment center. We are an alternative to the large, institutional approach. Over the years our team has perfected a personalized program offered in a private, supportive environment that yields far superior results for our clients.</p>
							<p>Beachside's accredited counselors bring a holistic drug and alcohol abuse approach to the conventionally proven, 12 step program. We passionately utilize mind, body, and spiritual elements throughout the treatment process to provide specialized treatment for each guest. Compare our center with others:</p>							
							<table>
								<tr>
									<th></th>
									<th>Others</th>
									<th>Beachside</th>
								</tr>
								<tr>
									<td>Privately Owned</td>
									<td>No</td>
									<td>Yes</td>
								</tr>
								<tr>
									<td>Personalized Care</td>
									<td>No</td>
									<td>Yes</td>
								</tr>
								<tr>
									<td>Licensed Professionals</td>
									<td>Yes</td>
									<td>Yes</td>
								</tr>		
								<tr>
									<td>Peaceful Beach</td>
									<td>No</td>
									<td>Yes</td>
								</tr>	
								<tr>
									<td>Nutrition Counseling</td>
									<td>Yes</td>
									<td>Yes</td>
								</tr>		
								<tr>
									<td>Fitness Programs</td>
									<td>Yes</td>
									<td>Yes</td>
								</tr>
							</table>
							<p>We are located on a secluded part of Hutchinson Island in tropical Florida near Miami, Fort Lauderdale and West Palm Beach airports.</p>
							<p>Call us to learn more: <%= cms_snippet_content(:phone_ads)%>.</p>	
						</div>				
					</div> 
								
				</div>	
				<div class = "landActionSection">

					<div class = "landAction landNormalDevice">
						<div class = "landActionPhrase"><%= "Talk with a trained counselor".titleize %></div>	
						<div class = "landActionNum"><%= cms_snippet_content(:phone_ads)%></div>
						<div class = "landActionHour">24 hours a day</div>
					</div>
						<%= render 'infoForm' %>
				<div class = "landAction landIns">
					<div>Insurance Accepted</div>
					<%= cms_snippet_content(:insurance_providers) %>
				</div>

				</div>		
				<div class = "clearboth"></div>

				<%= render '/layouts/footer' %>
			</div>
		</div>
	</section>

	<script type="text/javascript">
		$(document).ready(function(){
		  $('.bxslider').bxSlider();
		});
	</script>	

