<% # title and description for seo %>
<% content_for :seotags do %>
  <title><%= @kw_group.titleize %> Programs | Beachside Rehab</title>
  <meta name="description" content= "<%="Beachside Rehab provides personalized #{@kw_group} treatment at its world-class center on a Florida beach." %>">
<% end %>


	<section>
		<div class = "landContentBox"></div>
		<div class = "landContent">
			<div>
				<div class = "landAction landMobile">
					<div class = "landActionPhrase"><%= "Talk with a trained counselor".titleize %></div>	
					<div class = "landActionNum"><%= cms_snippet_content(:phone_ads)%></div>
					<div class = "landActionHour">24 hours a day</div>
				</div>		
				<div class = "landIntro">
					<div class = "landHead landRight">
						<div class = "rehab">Personalized Care</div>
						<div>and Treatment</div>
					</div>
					<div class = "landHead landLeft landNormalDevice">
		 				<h1 class = "rehab"><%= @kw_group.titleize %></h1>
		 				<div>Program</div>
					</div>
					<div class = "landLogo">
						<%= link_to(image_tag("http://s3.amazonaws.com/beachdata/cms/files/files/000/000/038/original/blank-logo.png"), '/') %> 
					</div>
				</div>		
				<div class = "clearboth"></div>
				<div>
					<%= cms_snippet_content(:landing_page_slider)%>
				</div>		
				<div class = "landDesc">
					<div >
						<ul id="landNav">
							<li><a href="javascript:MenuTab(1);" id="landTab1" class="landSelected"><%= @kw_group.titleize %></a></li>
							<li><a href="javascript:MenuTab(2);" id="landTab2">Program</a></li>
							<li><a href="javascript:MenuTab(4);" id="landTab4" >Reviews</a></li>
							<li><a href="javascript:MenuTab(5);" id="landTab5">About</a></li>
						</ul>
					</div>				
					<div class = "clearboth"></div>
					<div id="landDescContent">

						<%= render "#{@kw_group.gsub(' ','_')}_content" %>
					
						<div id = "landTab4Content" class = "landTab">
							<h2>Testimonials</h2>
								<%= render 'shared/testimonials' %>
						</div>				
						<div id = "landTab5Content" class = "landTab">
							<h2>Beachside</h2>
							<p>Beachside Rehab is a private, family-run, boutique treatment center. We are an alternative to the large, institutional approach. Over the years our team has perfected a personalized program offered in a private, supportive environment that yields far superior results for our clients.</p>
							<p>Beachside's accredited counselors bring a holistic drug and alcohol abuse approach to the conventionally proven, 12 step program. We passionately utilize mind, body, and spiritual elements throughout the treatment process to provide specialized treatment for each guest. Compare our center with others:</p>							
							<table>
								<tr>
									<th></th>
									<th>Others</th>
									<th>Beachside</th>
								</tr>
								<tr>
									<td>Privately Owned</td>
									<td>No</td>
									<td>Yes</td>
								</tr>
								<tr>
									<td>Personalized Care</td>
									<td>No</td>
									<td>Yes</td>
								</tr>
								<tr>
									<td>Licensed Professionals</td>
									<td>Yes</td>
									<td>Yes</td>
								</tr>		
								<tr>
									<td>Peaceful Beach</td>
									<td>No</td>
									<td>Yes</td>
								</tr>	
								<tr>
									<td>Nutrition Counseling</td>
									<td>Yes</td>
									<td>Yes</td>
								</tr>		
								<tr>
									<td>Fitness Programs</td>
									<td>Yes</td>
									<td>Yes</td>
								</tr>
							</table>
							<p>We are located on a secluded part of Hutchinson Island in tropical Florida near Miami, Fort Lauderdale and West Palm Beach airports.</p>
							<p>Call us to learn more: <%= cms_snippet_content(:phone_ads)%>.</p>	
						</div>				
					</div> 
								
				</div>	
				<div class = "landActionSection">

					<div class = "landAction landNormalDevice">
						<div class = "landActionPhrase"><%= "Talk with a trained counselor".titleize %></div>	
						<div class = "landActionNum"><%= cms_snippet_content(:phone_ads)%></div>
						<div class = "landActionHour">24 hours a day</div>
					</div>
						<%= render 'shared/infoForm' %>
				<div class = "landAction landIns">
					<div>Insurance Accepted</div>
					<%= cms_snippet_content(:insurance_providers) %>
				</div>

				</div>		
				<div class = "clearboth"></div>

				<%= render '/layouts/footer' %>
			</div>
		</div>
	</section>
