<% # title and description for seo %>
<% content_for :seotags do %>
  <title> World Class Family Run | Beachside Rehab</title>
  <meta name="description" content="Beachside Rehab is a family run, world call facility on the coast of Florida. Start your journey now.">
<% end %>


	<section>
		<div class = "landContentBox"></div>
		<div class = "landContent">
			<div>
				<div class = "landAction landMobile">
					<div class = "landActionPhrase"><%= "Talk with a trained counselor".titleize %></div>	
					<div class = "landActionNum"><%= cms_snippet_content(:clickcall)%></div>
					<div class = "landActionHour">24 hours a day</div>
				</div>		
				<div class = "landIntro">
					<div class = "landHead landRight">
						<div class = "rehab">Personalized Care</div>
						<div>and Treatment</div>
					</div>
					<div class = "landHead landLeft landNormalDevice">
		 				<div class = "rehab">Rehab and Detox</div>
		 				<div>Center</div>
					</div>
					<div class = "landLogo">
						<%= link_to(image_tag("http://s3.amazonaws.com/beachdata/cms/files/files/000/000/038/original/blank-logo.png"), '/') %> 
					</div>
				</div>		
				<div class = "clearboth"></div>
				<div>
					<%= render 'sliderImages' %>
				</div>		
				<div class = "landDesc">
					<div >
						<ul id="landNav">
							<li><a href="javascript:MenuTab(1);" id="landTab1" class="landSelected">Beachside</a></li>
							<li><a href="javascript:MenuTab(2);" id="landTab2">Programs</a></li>
							<li><a href="javascript:MenuTab(4);" id="landTab4" >Compare</a></li>
							<% #<li><a href="javascript:MenuTab(5);" id="landTab5">Comments</a></li> %>
						</ul>
					</div>				
					<div class = "clearboth"></div>
					<div id="landDescContent">
						<div id = "landTab1Content" class = "landShowContent">
							<p>Beachside is a private, family run, drug and alcohol abuse treatment facility.</p>
							<p>Beachside Rehab's accredited counselors focus on a holistic drug and alcohol abuse treatment approach while supporting the conventionally proven, 12 step program. We utilize mind, body, and spiritual elements throughout the treatment process to provide an enhanced recovery program for each individual. We understand that every addict’s journey towards recovery is unique and we work passionately to provide specialized treatment.</p>
							<p>We are located on the tropical Hutchinson Island in Florida near Miami, Fort Lauderdale and West Palm Beach airports.</p>
						</div>	
						<div id = "landTab2Content">
							<p>Our private, family-run facility is discreetly surrounded by the natural beauty of Hutchinson Island.<p>
							<p>Our licensed counselors care deeply about working with you on programs that include individual therapy, group therapies, relapse prevention, and family counseling. We help with individuals suffering from alcohol addiction and drug addictions such as cocaine, meth-amphetamine, crack, prescription pain-killers, and others.<p>
							<p>Our counseling combined with nutrition and fitness programs help addicts get back to a sustained functional, and healthy lifestyle. We accept most insurance plans.</p>
						</div>	
						<div id = "landTab4Content">
							<table>
								<tr>
									<th></th>
									<th>Others</th>
									<th>Beachside Rehab</th>
								</tr>
								<tr>
									<td>Family Run</td>
									<td>No</td>
									<td>Yes</td>
								</tr>
								<tr>
									<td>Personalized Care</td>
									<td>No</td>
									<td>Yes</td>
								</tr>
								<tr>
									<td>Licensed Professionals</td>
									<td>Yes</td>
									<td>Yes</td>
								</tr>		
								<tr>
									<td>Peaceful Beach</td>
									<td>No</td>
									<td>Yes</td>
								</tr>	
								<tr>
									<td>Nutrition Counseling</td>
									<td>Yes</td>
									<td>Yes</td>
								</tr>		
								<tr>
									<td>Fitness Programs</td>
									<td>Yes</td>
									<td>Yes</td>
								</tr>
								<tr>
									<td>Accepts Insurance</td>
									<td>Yes</td>
									<td>Yes</td>
								</tr>																													
							</table>
						<p>Our staff has over 50 combined years of experience in helping addicts regain control of their lives. Call us to learn more.</p>	
						</div>				
					<%#	<div id = "landTab5Content">
							<p>"This place is like no other!" - Yair </p>
							<p>"I loved the staff. It was great." - Con Way </p>
						</div> %>				
					</div> 
								
				</div>	
				<div class = "landActionSection">

					<div class = "landAction landNormalDevice">
						<div class = "landActionPhrase"><%= "Talk with a trained counselor".titleize %></div>	
						<div class = "landActionNum"><%= cms_snippet_content(:clickcall)%></div>
						<div class = "landActionHour">24 hours a day</div>
					</div>
						<%= render 'infoForm' %>
				</div>		
				<div class = "clearboth"></div>
				<div class = "clearboth"></div>
				<div class = "landIns">
					<%= cms_snippet_content(:insurance_providers) %>
				</div>
				<%= render '/layouts/footer' %>
			</div>
		</div>
	</section>

	<script type="text/javascript">
		$(document).ready(function(){
		  $('.bxslider').bxSlider();
		});
	</script>	

