<div class = "cmsBlurb">
	<h3>beachside</h3>
	<% #<h4>Rehab Treatment Center</h4> %>

	<p><%= link_to 'Boutique, family-run treatment center', '/about/staff' %></p>
	<p><%= link_to 'Secluded beachside location, state-of-the-art facilities', '/center/treatment-center' %></p>
	<p><%= link_to 'Professionals passionate about your recovery', '/programs/program-overview' %></p>
	<p><%= link_to 'Fully integrated approach with proven results','/about/testimonials' %></p>

	<p><%= cms_snippet_content(:phone_main)%><br/>
		24 hours</p>

</div>
