  <meta charset="utf-8">

	<% if content_for?(:seotags) %>
	<%= yield :seotags %>
	<% else %>
  <title><%= cms_page_content(:title)%></title>
  <meta name="description" content="<%= cms_page_content(:description)%>">
	<% end %>
	<% if content_for?(:followtags) %>
	<%= yield :followtags %>
	<% end %>
	<%= favicon_link_tag %>

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

	<%# add google fonts %>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans'>
	<link href='http://fonts.googleapis.com/css?family=Kameron:400,700' rel='stylesheet' type='text/css'>	
	<%= csrf_meta_tags %>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<% #setting for device width and responsive design %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
