<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title><%= cms_page_content(:title)%></title>
  <meta name="description" content="<%= cms_page_content(:description)%>">

	<%= render '/layouts/fontandstyles' %>

</head>

<body id = "<%= cms_page_content(:navId)%>" class = "cms">
	<header>
		<div class = "headIntro">
			<div class = "headPhone">
				<div class = "headNum"><%= cms_snippet_content(:clickcall)%></div>
				<div class = "headHour">24 hours</div>
			</div>
			<div class = "headDesc">
 				<div class = "rehab">Rehab and Detox</div>
 				<div>Center</div>
			</div>
			<div class = "headLogo">
				<div class = "beachside"><%= link_to 'beachside', '/' %> </div>
				<div class = "hutch">Hutchinson Island, Florida</div>
			</div>
		</div>
		<div class = "menuLine"></div>
		<%= render '/layouts/navigation' %>
	</header>

	<section>	
			<%= yield %>
	</section>
	<div class="clearboth"></div>
	<% #render '/layouts/footer' %>
</body>
</html>