<!DOCTYPE html>
<html lang="en">

<head>

	<%= render '/layouts/header_tags' %>

</head>

<body class = "homepage">
	<%= render '/layouts/google_tag' %>	
	<header class = "homeNav">


			<%= render '/layouts/navigation' %>

	</header>

	<section>
		<div class = "homeContentBox"></div>
		<div class = "homeContent">
			<%= yield %>
		</div>
	</section>

	<%= render '/layouts/footer' %>
	
</body>
</html>