<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title><%= cms_page_content(:title)%></title>
  <meta name="description" content="<%= cms_page_content(:description)%>">

	<%= render '/layouts/fontandstyles' %>

</head>

<body class = "homepage">
	<%= render '/layouts/google_tag' %>	
	<header class = "homeNav">


			<%= render '/layouts/navigation' %>

	</header>

	<section>
		<div class = "homeContentBox"></div>
		<div class = "homeContent">
			<%= yield %>
		</div>
	</section>

	<%= render '/layouts/footer' %>
	
</body>
</html>